<div class="panel panel-default">
  <div class="panel-body">
    <p><strong>{{review.username}} says :</strong></p>
    <p>{{review.reviewtext}}</p>
    <div class="well" *ngIf="review.isreplied">
      <p><strong>Restaurant responded :</strong></p>
      <p>{{review.responsetext}}</p>
    </div>
  </div>
  <div class="panel-footer" *ngIf="isOwner">
    <button type="button" class="btn btn-primary" [routerLink]="[ 'addresponse']" 
    [queryParams]='{id:index}'> {{ review.isreplied ? 'Edit Reply' : 'Add Reply'}}</button>
  </div> 
</div>