
<div class="row">
  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">

    <form (ngSubmit)="onAdd(f)" #f="ngForm">
      <legend>Add Restaurant!</legend>
    
      <div class="form-group">
        <label for="name">Restaurant Name</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Enter Restaurant Name" ngModel>
      </div>
    
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Enter Email" ngModel>
      </div>

      <div class="form-group">
        <label for="address">Address</label>
        <textarea name="address" id="address" class="form-control" rows="3" placeholder="Enter Address" ngModel></textarea>
      </div>
    
      <div class="form-group">
        <label for="number">Phone Number</label>
        <input type="text" class="form-control" id="contact" name="contact" placeholder="Enter Number" ngModel>
      </div>

      <div class="form-group">
        <label for="cost">Cost</label>
        <input type="number" class="form-control" id="cost" name="cost" placeholder="Enter Cost for 2" ngModel>
      </div>

      <div class="form-group">
        <label for="owner">Owner</label>
        
        <select name="owner" id="owner" class="form-control" ngModel>
          <option *ngFor="let user of users" [value]="user.publicid">{{user.name}} - {{user.email}}</option>
        </select>
        
      </div>
      
      <button type="submit" class="btn btn-primary">Add</button>
    </form>
        
  </div>
</div>
