
<div class="row">
  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">

    <form (ngSubmit)="onSignUp(f)" #f="ngForm">
      <legend>Sign Up!</legend>
    
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Enter Name" ngModel>
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Enter Email" ngModel>
      </div>
    
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Enter password here" ngModel>
      </div>

      <div class="form-group">
        <label for="name">Contact No</label>
        <input type="text" class="form-control" id="contact" name="contact" placeholder="Enter 10-Digit Phone Number" ngModel>
      </div>

      <button type="submit" class="btn btn-primary" [disabled]="f.isValid">Sign Up</button>
    </form>
        
  </div>
</div>
